h3 {
    color: white;
}
.jumbotron{
    background-color: greenyellow;
}

.display-4 {
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 1.2;
}

body {
    margin: 0 150px;
    background-image: url("bg.jpg");

}

#bg {
    background-color: white !important;

}

fieldset.border {
    border: 2px solid darkgreen !important;
}

legend {
    font-variant: small-caps;
}

#order {
    background-color: darkgreen;
    display: block;
    margin: 0 30%;
}
.err{
    color: red;
}
h5 {
    text-align: right;
}
a {
    color: green;
}
h1{
    color: green;
}